:root {
    /* Text colors */
    --primary-color: rgb(185,160,102);
    --highlight-color: rgb(255, 194, 0);
    
    /* Backgrouonds sections colors */
    --navbar-color: rgb(83,111,80);
    --navbar-hover: rgb(104, 141, 95);
    --odd-bg-color: rgb(38, 70, 83);
    --even-bg-color: rgb(255, 255, 204);
    --footer-bg-color: rgb(124, 171, 109);
    
    /* Skills colors */
    --technologies-danger: rgb(255, 99, 71);
    --technologies-warning: rgb(255, 223, 0);
    --technologies-success: rgb(144, 238, 144);
    --scrollbar-track-color: darkgrey;
    --scrollbar-thumb-color: black;

    /* Footer elements color */
    --inputs-footer-color: rgb(141, 190, 125);
    --hover-footer-button-color: rgb(121, 159, 112);
    
    /* Carousel sizes */
    --carousel-image-center-width: 360px;
    --carousel-image-center-height: 210px;
    --carousel-image-sides-width: 200px;
    --carousel-image-sides-height: 190px;
}

html{
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
    
body{
    overflow-Y: auto;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    font-size: 1.1rem;
    letter-spacing: .03em;
}

body::-webkit-scrollbar{
    height: 5px;
    width: 9px;
}

body::-webkit-scrollbar-track{
    background-color: var(--scrollbar-track-color);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-thumb-color);
}

.content{
    padding-top: 100px; /* Nav bar height */
    width: 100%;
    box-sizing: border-box;
    color: var(--primary-color);
}

.content article:nth-child(odd){
    background-color: var(--odd-bg-color);
}

.content article:nth-child(even){
    background-color: var(--even-bg-color);
}

.content p{
    margin: 0px;
    padding: 20px;
    text-align: left;
}

/* Introduction */
.home{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container{
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
}

.image-container{
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.image-container img{
    height: 150px;
    width: 165px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    transform: rotate(5deg);
}

.desc-container{
    width: 70%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.desc-container h2{
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    color: var(--even-bg-color);
    -webkit-text-stroke: 1px var(--primary-color);
}

.desc-container h2 i{
    color: var(--highlight-color);
    transform: rotate(20deg);
    -webkit-text-stroke: 0px var(--highlight-color);
}

.desc-container p{
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    line-height: 1.5;
    color: var(--even-bg-color);
}

/* School timeline */
.school{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline{
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.timeline-item{
    width: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
}

.timeline-title{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.timeline-title h1{
    font-size: 2em;
}

.timeline-stroke-container{
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 

.timeline-stroke-item{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timeline-stroke-item span{
    background-color: var(--primary-color);
}

.timeline-stroke-item span:nth-child(1),
.timeline-stroke-item span:nth-child(3){
    width: 3px;
    height: 50px;
}

.timeline-stroke-item span:nth-child(2){
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.timeline-info{
    box-sizing: border-box;
    width: 70%;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.timeline-info h2,
.timeline-info p{
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}

/* Profile and skills */
.profile-skills{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-skills-container{
    width: 80%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 20px;
}

/* Profile */
.profile{
    justify-self: right;
    
    box-sizing: border-box;
    width: 460px;
    min-height: 350px;
    padding: 20px;
    
    border: 2px solid var(--even-bg-color);
    border-radius: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    overflow: hidden;
}

.profile-title{
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.profile-title h1{
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}

.profile-desc{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-desc-item{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    gap: 10px;
    color: var(--even-bg-color);
    border-bottom: 1px solid var(--even-bg-color);
}

.profile-desc-item:last-child{
    border: 0px;
}

.profile-desc-item > :nth-child(1){
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-desc-item > :nth-child(2){
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social-media{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 10px;
}

.social-media h2{
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 1.4em;
}

.social-media-buttons{
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

/* Skills */
.skills{
    justify-self: left;

    box-sizing: border-box;
    width: 460px;
    min-height: 350px;
    padding: 20px;

    border: 2px solid var(--even-bg-color);
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    overflow: hidden;
}

.skills-title{
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.skills-title h1{
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}

.skills-content{
    width: 90%;
    padding-left: 20px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}

.skill-container{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.skill-container label{
    font-size: 1.1em;
    justify-self: left;
    font-weight: bold;
}

.skill-container progress{
    width: 90%;
    justify-self: left;
    appearance: none;
}

.skill-container progress::-webkit-progress-bar{
    background-color: rgb(100, 150, 145);
}

.python-text{
    font-weight: bold;
    color: white;
    color: #4584b6;
}

.python-background{
    font-weight: bold;
    color: white;
    background-color: #4584b6;
}

.html-text{
    background: linear-gradient(135deg, #27A1E1, #F16C2B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.html-background{
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #27A1E1, #F16C2B);
}

.javascript-text{
    color: #f7df1e;
}

.javascript-background{
    font-weight: bold;
    color: gray;
    background-color: #f7df1e;
}

.flask-text{
    color: rgb(31, 31, 31);
}

.flask-background{
    font-weight: bold;
    color: white;
    background-color: rgb(31, 31, 31);
}

.laravel-text{
    color: #F05340;
}

.tensorflow{
    color: #fb8808;
}

.tensorflow-background{
    font-weight: bold;
    background-color: #fb8808;
    color: white;
}

.is-danger {
    color: var(--technologies-danger);
}

.is-warning{
    color: var(--technologies-warning);
}

.is-success{
    color: var(--technologies-success);
}

.is-danger::-webkit-progress-bar{
    border-radius: 8px;
}

.is-danger::-webkit-progress-value{
    border-radius: 8px;
    background: var(--technologies-danger);
}

.is-warning::-webkit-progress-bar{
    border-radius: 8px;
}

.is-warning::-webkit-progress-value{
    border-radius: 8px;
    background: var(--technologies-warning);
}

.is-success::-webkit-progress-bar{
    border-radius: 8px;
}

.is-success::-webkit-progress-value{
    border-radius: 8px;
    background: var(--technologies-success);
}

/* Services */
.services{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}

.services-title{
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.services-title h1{
    padding: 0px;
    margin: 0px;
    font-size: 2em;
}

.services-container{
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}

.service{
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0px 4px 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 20px;
}

.service-title{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.service-title h2{
    padding: 0px;
    margin: 0px;
}

.service-description{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.service-description p{
    padding: 0px;
    margin: 0px;
}

/* Projects */
.portfolio{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.portfolio-title{
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.portfolio-title h1{
    padding: 0px;
    margin: 0px;
    font-size: 2em;
}

.portfolio-container{
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}

.portfolio-item{
    width: 600px;
    padding: 20px;
    border: 2px solid var(--even-bg-color);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}

.carousel-container{
    width: 100%;
    height: 260px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
}

.carousel-shadow{
    width: calc(var(--carousel-image-center-width) + 40px);
    height: 5px;
    border-radius: 1px;
    background-color: rgba(255, 255, 204, 0.055);
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 204, 0.603);
    transform: perspective(150px) rotateX(45deg);
}

.carousel{
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--carousel-image-center-width)*.30);
    overflow: hidden;
}

.carousel-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

.carousel-item:nth-child(1),
.carousel-item:nth-child(3){
    width: var(--carousel-image-sides-width);
    height: var(--carousel-image-sides-height);
}

.carousel-item:nth-child(2){
    width: var(--carousel-image-center-width);
    height: var(--carousel-image-center-height);
    position: absolute;
    z-index: 1;
}

.carousel-item:nth-child(n+4){
    display: none;
    width: 0px;
    height: 0px;
}

.carousel-item{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.focus-right-in{
    animation: slide-right-in 2s forwards;
}

.focus-right-out{
    animation: slide-right-out 2s forwards;
}

.focus-left-out {
    animation: slide-left-out 2s forwards;    
}

.focus-left-in {
    animation: slide-left-in 2s forwards;
}

.portfolio-project{
    width: 95%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.portfolio-project h2{
    margin: 0px;
    padding: 0px;
    font-size: 1.6em;
}

.portfolio-tags-container{
    width: 95%;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
    display: grid;
    grid-template-columns: minmax(5%, 10%) 90%;
    grid-template-rows: 1fr;
    gap: 10px;
}

.portfolio-tags-icon{
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-tags-icon-item{
    max-width: 150px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid var(--odd-bg-color);
    border-radius: 4px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-tags-list{
    align-self: center;
    justify-self: center;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 10px;
}

.portfolio-tags-item{
    max-width: 150px;
    height: 35px;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    border: 1px solid var(--odd-bg-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-footer{
    width: 95%;
    max-height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
    transition: max-height 3s cubic-bezier(0, 1, 0, 1);
}

.portfolio-footer.active{
    max-height: 1000px;
    transition: max-height 2s ease-in-out;
}

.portfolio-description{
    width: 100%;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
    box-sizing: border-box;
}

.portfolio-description p{
    margin: 0px;
    padding: 0px;
    color: var(--even-bg-color);
}

.portfolio-description ul{
    margin: 0px;
    color: var(--even-bg-color);
}

.portfolio-links{
    width: 100%;
}

.portfolio-links.active{
    display: inline;
}

.portfolio-links-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}

.portfolio-links-buttons a{
    font-size: 1.1em;
}

.portfolio-links-buttons button{
    height: 45px !important;
}

.portfolio-toggle{
    width: 100px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
    animation: breath-down 3s infinite ease-in;
}

.portfolio-toggle:hover{
    cursor: pointer;
    background-color: rgb(48, 90, 103);
}

.portfolio-toggle span{
    width: 30px;
    height: 2px;
    background-color: var(--even-bg-color);
    transition: 2s;
}

.portfolio-toggle span:nth-child(1){
    transform: rotate(45deg) translateX(7px);
}

.portfolio-toggle span:nth-child(2){
    transform: rotate(-45deg) translateX(-7px);
}

.portfolio-toggle.active span:nth-child(1){
    transform: rotate(-45deg) translateX(7px);
}

.portfolio-toggle.active span:nth-child(2){
    transform: rotate(45deg) translateX(-7px);
}

/* Footer */
.footer{
    width: 100%;
    background-color: var(--footer-bg-color);
    padding: 20px;
    box-sizing: border-box;
}

.footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.footer-container h2{
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: var(--even-bg-color);
}

.footer-message-container{
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    align-self: center;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 10px;
}

.footer-message-container p{
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 0px;
    color: var(--even-bg-color);
}

.footer-form-container{
    width: 55%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 20px;
}

.footer-input-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-input-container input,
.footer-input-container textarea{
    height: 32px;
    color: var(--even-bg-color);
    border: 1px solid var(--even-bg-color);
    background-color: var(--inputs-footer-color);
    border-radius: 16px;
    padding: 10px;
}

.footer-input-container input::placeholder,
.footer-input-container textarea::placeholder{
    color: var(--even-bg-color);
    opacity: 1px;
}

.footer-input-container input:focus,
.footer-input-container textarea:focus{
    outline: none;
    background-color: var(--hover-footer-button-color);
}

.footer-input-email{
    width: 55%;
}

.footer-input-subject{
    width: 75%;
}

.footer-input-message{
    width: 100%;
    resize: none;
    height: 10em !important;
}

.footer-input-message::-webkit-scrollbar{
    height: 5px;
    width: 9px;
    border-radius: 16px 16px 0px 0px;
}

.footer-input-message::-webkit-scrollbar-track{
    background-color: var(--hover-footer-button-color);
    border-radius: 0px 16px 16px 0px;
}

.footer-input-message:focus::-webkit-scrollbar-track{
    background-color: var(--inputs-footer-color);
}

.footer-input-message::-webkit-scrollbar-thumb{
    background-color: var(--even-bg-color);
    border-radius: 0px 4px 4px 0px;
}

.footer-form-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1501px){
    .timeline,
    .home-container{
        width: 80%;
    }
}

@media (max-width: 1500px){
    .timeline,
    .home-container{
        width: 90%;
    }

    .footer-message-container{
        width: 60%;
    }
    .footer-form-container{
        width: 65%;
    }
}

@media (max-width: 1328px){
    .timeline,
    .home-container{
        width: 100%;
    }

    .footer-message-container{
        width: 70%;
    }
    .footer-form-container{
        width: 75%;
    }
}

@media (max-width: 1130px){
    .profile-skills-container{
        flex-flow: row wrap;
        flex-wrap: wrap;
    }
    .profile{
        justify-self: center;
    }
    .footer-message-container{
        width: 80%;
    }
    .footer-form-container{
        width: 85%;
    }
}

@media (max-width: 900px){
    .desc-container{
        width: 80%;
    }
    .timeline-info{
        width: 80%;
    }
    .timeline-info h2{
        font-size: 1.3em;
    }
    .footer-message-container{
        width: 95%;
    }
    .footer-form-container{
        width: 95%;
    }
}

@media (max-width: 768px){
    .portfolio-footer{
        transition: max-height 2s ease-in-out;
    }
    .footer-container{
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr;
    }
    .footer-message-container{
        width: 80%;
        justify-self: center;
    }
    .footer-form-container{
        width: 80%;
        justify-self: center;
    }
}

@media (max-width: 650px){
    .desc-container{
        width: 90%;
    }
    .timeline-info{
        width: 90%;
    }
    .timeline-info h2{
        font-size: 1.1em;
    }
    .timeline-info p{
        font-size: .9em;
    }

    .portfolio-item{
        width: 95%;
    }

    .portfolio{
        padding: 10px;
    }
}

@media (max-width: 600px){
    .home-container{
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
    }

    .image-container{
        justify-content: center;
    }

    .profile-skills-container{
        width: 100%;
    }

    .profile{
        justify-self: center;
        width: 90%;
    }
    :root{
        --carousel-image-center-width: 250px;
        --carousel-image-center-height: 180px;
        --carousel-image-sides-width: 150px;
        --carousel-image-sides-height: 160px 
    }
    .footer-message-container{
        width: 100%;
    }
    .footer-form-container{
        width: 100%;
    }
}

@media (max-width: 560px){
    .timeline .timeline-item:nth-child(1){
        grid-template-columns: 40% 60%;
    }
    .timeline-item{
        grid-template-columns: 35% 65%;
    }
}

@media (max-width: 500px){
    :root{
        --carousel-image-center-width: 220px;
        --carousel-image-center-height: 180px;
        --carousel-image-sides-width: 120px;
        --carousel-image-sides-height: 160px 
    }
}

@media (max-width: 480px){
    .timeline .timeline-item:nth-child(1){
        grid-template-columns: 45% 55%;
    }

    .timeline-item{
        grid-template-columns: 30% 70%;
    }

    .timeline-info{
        width: 100%;
    }

    .profile{
        width: 100%;
    }

    .profile-desc{
        width: 100%;
        font-size: 0.7em;
    }

    .profile-title,
    .social-media{
        width: 100%;
    }

    .profile-desc, 
    .social-media{
        box-sizing: border-box;
        padding-left: 10px;
    }

    .social-media-buttons{
        justify-content: center;
    }
}

@media (max-width: 350px){
    .timeline .timeline-item:nth-child(1){
        grid-template-columns: 65% 35%;
    }

    .timeline-item{
        grid-template-columns: 20% 80%;
    }
}